body {
  text-align: center;
  font-family: Roboto, Helvetica Neue, Helvetica, Arial, Sans-Serif;
  color: #444;
}

#canvas {
  border: 1px solid #CCC;
}

#time_stats {
  position: fixed;
  top: 20px;
  right: 20px;
  background: #444;
  color: #FAFAFA;
  font-size: 10pt;
}

.description {
  width: 300px;
  text-align: justify;
  display: inline-block;
  font-size: 10pt;
}

.container {
  display: inline-block;
  color: #FAFAFA;
  background-color: #444;
  margin-top: 20px;
  padding: 20px;
  border-radius: 4px;
  box-shadow: 2px 2px 8px rgba(0,0,0,0.3);
}

h2 {
  font-size: 18pt;
  font-weight: 700;
  margin: 0 0 20px 0;
}

.ind-color {
  width: 40px;
  height: 40px;
  border-radius: 20px;
  display: inline-block;
}

.option {
  background-color: #FAFAFA;
  border-radius: 4px;
  padding: 4px;
  color: #444;
  box-shadow: 2px 2px 2px rgba(0,0,0,0.2);
  transition: all 0.2s ease;
}

.option:hover {
  background-color: #E8E8E8;
  box-shadow: 2px 2px 5px rgba(0,0,0,0.2);
}

.selected {
  background-color: orange;
}

.red {
  background-color: rgb(166,75,75);
}

.orange {
  background-color: rgb(213,164,68);
}

.yellow {
  background-color: rgb(219,213,48);
}

.green {
  background-color: rgb(75,175,85);
}

.blue {
  background-color: rgb(59,117,170);
}

.purple {
  background-color: rgb(153,59,170);
}
